@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
.capabilities  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px; */
    display: flex;
 justify-content: center;
    width: 100%;
  }
  
  .capabilities  > ul > li {
    /* border: 1px solid var(--highlight-background-color); */
    background-color: var(--background-color);
   
    flex: 0 0 212px;
 
    box-shadow: 0px 16px 40px #0000001a;
    padding: 37px 35px;

    border-radius: 25px;
    cursor: pointer;   
    margin: 0 12.5px;
    flex-direction: column-reverse;
    display: flex;
  }
  
  .capabilities  .capabilities -card-body {
    margin: 16px;
  }
  
  .capabilities  .capabilities -card-image {
    line-height: 0;
  }
  
  .capabilities  .capabilities -card-body > *:first-child {
    margin-top: 0;
  }
  
  .capabilities  > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  .capabilities h2{    font-size: 16px;
    line-height: 22px;
    padding-top: 30px;
    max-width: 147px;
    font-family: 'Poppins';
    margin:0;
  }
  .capabilities  > ul > li .cards-card-body+.cards-card-body{display: none;

  }
  .capabilities  > ul > li img{max-width: 48px;    object-fit: contain;}
  .capabilities  > ul > li .cards-card-body {
    padding: 0;
    margin: 0;
  }
  .capabilities  > ul > li:hover{background-color: #0d555d;}
  .capabilities  > ul > li:hover .cards-card-body{display: none;}
  .capabilities  > ul > li:hover .cards-card-body+.cards-card-body{display: block;font-size: 13px;max-width: 100%}
  .capabilities  > ul > li:hover .cards-card-body+.cards-card-body code{font-size: 13px; color:#fff; font-family: poppins;;}